.container
  .row.justify-content-lg-center
    .col.col-lg-6
      nav.navbar.navbar-toggleable-sm.navbar-light(style='margin: 0 -15px')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='#') R. Daily
        #navbarText.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='#') Читать
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Писать
          ul.navbar-nav
            if (isAuthenticated)
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') #{user.username}
                .dropdown-menu
                  a.dropdown-item(href='#') Настройки
                  .dropdown-divider
                  a.dropdown-item(href='/logout') Выйти
            else
              li.nav-item
                a.nav-link(href='/signin') Войти

